# Analysis of stats related to categories

In [15]:
import matplotlib.pyplot as plt
import pandas as pd
import os
import json
import numpy as np

In [2]:
df = pd.read_csv("../../data/house_analysis/domain_isnews_islocal_ispolicontrol.csv")

In [9]:
df['rank'] = df['serp_rank']+1

In [4]:
total_cnt = df['counts'].sum()

In [5]:
total_cnt

299573378

In [22]:
total_domain = len(df['domain'].unique())

In [23]:
total_domain

4220

## catgory counts an proportion in results

In [10]:
category = df.groupby(['category'], dropna=False, as_index=False)['counts'].sum()

In [11]:
category['proportion'] = category['counts']/total_cnt

In [12]:
category

            category    counts  proportion
0  campaign_personal  17478882    0.058346
1          education    319956    0.001068
2                gov  55689950    0.185898
3               news  77207985    0.257726
4  other_third_party  59792451    0.199592
5             social  89084154    0.297370

## catgory counts an proportion in domain

In [39]:
category_dom = df.drop_duplicates(subset="domain").groupby(['category'], as_index=False).size()

In [41]:
category_dom['proportion'] = category_dom['size']/total_domain

In [42]:
category_dom

            category  size  proportion
0  campaign_personal   417    0.098815
1          education    59    0.013981
2                gov    52    0.012322
3               news  3324    0.787678
4  other_third_party   363    0.086019
5             social     5    0.001185

## average rank of category

In [13]:
categories = df['category'].unique()

In [16]:
for cat in categories:
    sub_df = df[df['category']==cat]
    weighted_avg = np.average(sub_df['rank'], weights=sub_df['counts'])
    print(cat, ":", weighted_avg)

news : 11.217542848709236
other_third_party : 11.681472532377038
campaign_personal : 8.388386396795859
education : 14.291480703596745
gov : 7.235590963899232
social : 9.782569277135416

## is_politician_controlled analysis

In [17]:
is_poly = df.groupby(['is_poli_control','rank'], dropna=True, as_index=False)['counts'].sum()

In [18]:
is_poly_categories = is_poly['is_poli_control'].unique()

In [19]:
for cat in is_poly_categories:
    sub_df = is_poly[is_poly['is_poli_control']==cat]
    weighted_avg = np.average(sub_df['rank'], weights=sub_df['counts'])
    print(cat, ":", weighted_avg)

False : 12.224093374184198
True : 7.438858317029485

In [44]:
is_polyis_poli_control_grouped = df.groupby(['is_poli_control'], dropna=False, as_index=False)['counts'].sum()

In [45]:
is_polyis_poli_control_grouped['rate'] = is_polyis_poli_control_grouped['counts']/total_cnt

In [46]:
is_polyis_poli_control_grouped

   is_poli_control     counts      rate
0            False  159172475  0.531331
1             True  140400903  0.468669

## is_news_analysis

In [47]:
is_news = df.groupby(['is_news','rank'], dropna=True, as_index=False)['counts'].sum()

In [49]:
is_news_categories = is_news['is_news'].unique()

In [51]:
for cat in is_news_categories:
    sub_df = is_news[is_news['is_news']==cat]
    weighted_avg = np.average(sub_df['rank'], weights=sub_df['counts'])
    print(cat, ":", weighted_avg)

False : 9.552195660230277
True : 11.217542848709236

In [52]:
is_news_grouped = df.groupby(['is_news'], dropna=False, as_index=False)['counts'].sum()

In [53]:
is_news_grouped['rate'] = is_news_grouped['counts']/total_cnt

In [54]:
is_news_grouped

   is_news     counts      rate
0    False  222365393  0.742274
1     True   77207985  0.257726