# Analysis of coverage rate of labels

In [2]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

## Coverage rate of bias score

In [3]:
ron_news = pd.read_csv('../data/bias_score_ron_2018.csv')

In [5]:
domain_counts = pd.read_csv('../data/house_analysis/house_domain_counts_unique.csv')

In [6]:
domain_ratings = ron_news[ron_news['domain'].isin(domain_counts.domain)]

In [7]:
domain_counts_rating = pd.merge(domain_counts, domain_ratings[['domain', 'bias_score']].drop_duplicates(), how="left", on='domain')

In [8]:
domain_counts_rating

                      domain    counts  bias_score
0                  house.gov  36733901     -0.4210
1                twitter.com  21425656      0.0535
2              wikipedia.org  20333607         NaN
3            ballotpedia.org  18266482     -0.0038
4                govtrack.us  16055632     -0.0411
...                      ...       ...         ...
4215           factcheck.org         1     -0.3078
4216      bedfordgazette.com         1         NaN
4217  becauseofthemwecan.com         1     -0.7454
4218       conservapedia.com         1         NaN
4219            wonkette.com         1     -0.7557

[4220 rows x 3 columns]

In [9]:
domain_counts_rating_nona = domain_counts_rating.dropna(subset="bias_score")

In [10]:
coverage_rate = domain_counts_rating_nona["counts"].sum()/domain_counts["counts"].sum()

In [11]:
coverage_rate

0.7600670429901434

In [12]:
df_category_grouped_class = pd.read_csv("../data/house_analysis/domain_rank_ishome_category_counts.csv")

In [14]:
domain_cat = df_category_grouped_class.groupby(['domain', 'category'], dropna=False, as_index=False)['counts'].sum()

In [15]:
domain_cat

                           domain           category  counts
0                     1011now.com               news   84832
1                      10news.com               news    9462
2                        10tv.com               news   42497
3                     11alive.com               news   98272
4                      12news.com               news   25414
...                           ...                ...     ...
4215                  yubanet.com               news    1928
4216  zanesvilletimesrecorder.com               news    4882
4217        zeldinforcongress.com  campaign_personal   47752
4218              zerotothree.org  other_third_party      31
4219               zoelofgren.com  campaign_personal   47708

[4220 rows x 3 columns]

In [16]:
domain_cat["counts"].sum()

243169345

In [19]:
news_domains = domain_cat[domain_cat["category"]=="news"]["domain"]

In [20]:
news_rating = domain_counts_rating[domain_counts_rating["domain"].isin(news_domains)]

In [22]:
news_rating_nona = news_rating.dropna()

In [23]:
news_rating_coverage_rate = news_rating_nona["counts"].sum()/news_rating["counts"].sum()

In [24]:
news_rating_coverage_rate

0.7660249698721411