In [1]:
import pandas as pd

# Check the matching rate of two coder

In [29]:
burak_file = pd.read_csv("../../data/hand_code/burak_clean.csv")

In [30]:
burak_file[burak_file['domain']=='stanforddaily.com']

,domain,counts,news,education,social,gov,campaign_personal,other_third_party,title,sum
245,stanforddaily.com,9087,1,0,0,0,0,0,NaN,1

In [16]:
burak_file.head()

,domain,counts,news,education,social,gov,campaign_personal,other_third_party,title,sum
0,safetyandhealthmagazine.com,37691,1,0,0,0,0,0,NaN,1.0
1,myeasternshoremd.com,34956,1,0,0,0,0,0,NaN,1.0
2,fortworthbusiness.com,16506,1,0,0,0,0,0,NaN,1.0
3,3newsnow.com,92779,1,0,0,0,0,0,NaN,1.0
4,dailycal.org,8468,1,0,0,0,0,0,NaN,1.0

In [31]:
def categorize_domain(row):
    if row['news']:
        return 'news'
    elif row['education']:
        return 'education'
    elif row['social']:
        return 'social'
    elif row['gov']:
        return 'gov'
    elif row['campaign_personal']:
        return 'campaign_personal'
    elif row['other_third_party']:
        return 'other_third_party'
    else:
        return None

In [32]:
burak_file['category']= burak_file.apply(categorize_domain, axis=1)

In [33]:
burak_file = burak_file[['domain','category']]

In [34]:
allison_cat = pd.read_csv("../../data/domain_category.csv")

In [35]:
final_file = pd.merge(burak_file, allison_cat, on="domain", how="inner")

In [36]:
final_file

                          domain         category_x         category_y
0    safetyandhealthmagazine.com               news               news
1           myeasternshoremd.com               news               news
2          fortworthbusiness.com               news               news
3                   3newsnow.com               news               news
4                   dailycal.org               news               news
..                           ...                ...                ...
398               parkrecord.com               news               news
399                 cbslocal.com               news               news
400      pallonefornewjersey.com  campaign_personal  campaign_personal
401                     kvor.com               news               news
402           cedricrichmond.com  other_third_party  campaign_personal

[403 rows x 3 columns]

In [37]:
len(final_file['domain'].unique())

403

In [38]:
def check_match(row):
    if row['category_x']==row['category_y']:
        return True
    else:
        return False

In [39]:
final_file['match'] = final_file.apply(check_match, axis=1)

In [41]:
final_file[final_file['match']==True]

                          domain         category_x         category_y  match
0    safetyandhealthmagazine.com               news               news   True
1           myeasternshoremd.com               news               news   True
2          fortworthbusiness.com               news               news   True
3                   3newsnow.com               news               news   True
4                   dailycal.org               news               news   True
..                           ...                ...                ...    ...
397               algemeiner.com               news               news   True
398               parkrecord.com               news               news   True
399                 cbslocal.com               news               news   True
400      pallonefornewjersey.com  campaign_personal  campaign_personal   True
401                     kvor.com               news               news   True

[362 rows x 4 columns]

In [42]:
362/403

0.8982630272952854