# Top domains

This file calculate the proportion of domains in the results and sort them in descending orders.

In [30]:
import os
import sys
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
results = pd.read_csv('/net/lazer/lab-lazer/shared_projects/google_audit_reproduce/intermedidate_files/merged_summary/domain_counts.csv')

In [36]:
results['counts'].sum()

299573378

In [37]:
results

                           domain  counts
0                     1011now.com   84841
1                      10news.com   10770
2                        10tv.com   42497
3                     11alive.com   99957
4                      12news.com   25414
...                           ...     ...
4215                  yubanet.com    2333
4216  zanesvilletimesrecorder.com    4882
4217        zeldinforcongress.com   47752
4218              zerotothree.org      31
4219               zoelofgren.com   47708

[4220 rows x 2 columns]

In [38]:
domain_counts = results.groupby(['domain'], dropna=True, as_index=False)['counts'].sum()

In [39]:
domain_counts = domain_counts.sort_values(by=['counts'], ascending=False)

In [40]:
domain_counts

                domain    counts
3651       twitter.com  69176049
1478         house.gov  37807826
3957     wikipedia.org  20361206
267    ballotpedia.org  18272995
1326       govtrack.us  16055696
...                ...       ...
1034         emory.edu         1
2995          rwaa.com         1
4064      wonkette.com         1
2497  newstalk1290.com         1
1557    inmaricopa.com         1

[4220 rows x 2 columns]

In [41]:
domain_counts = domain_counts.drop_duplicates()

In [42]:
domain_counts.to_csv('../data/house_analysis/house_domain_counts_unique.csv', index=False)

In [43]:
domain_counts = pd.read_csv('../data/house_analysis/house_domain_counts_unique.csv')

In [44]:
sum_domain = domain_counts['counts'].sum()
domain_counts["proportion"] = domain_counts['counts'] / sum_domain

In [45]:
sum_domain

299573378

# Total number of domains

In [46]:
sum_domain

299573378

In [47]:
len(domain_counts)

4220

In [48]:
domain_counts[domain_counts['domain'].isna()]

Empty DataFrame
Columns: [domain, counts, proportion]
Index: []

# Proportion of top 7 domains

In [49]:
top_sum = domain_counts['counts'][:7].sum()

In [50]:
top_sum

192181691

In [51]:
7/ len(domain_counts)

0.0016587677725118483

In [52]:
top_sum/sum_domain

0.641517922196678